# 필수과제1
- 고양이데이터를 가지고 t-test로 진행 해보기

In [1]:
import pandas as pd
import numpy as np

In [3]:
cat = pd.read_csv('cats.csv')
cat

    Sex  Bwt   Hwt
0     F  2.0   7.0
1     F  2.0   7.4
2     F  2.0   9.5
3     F  2.1   7.2
4     F  2.1   7.3
..   ..  ...   ...
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

[144 rows x 3 columns]

In [5]:
import scipy.stats as stats
from scipy.stats import ttest_1samp

In [6]:
mu = 2.5
ttest_1samp(cat['Bwt'], mu) #e-07 -> 10의 -7승

Ttest_1sampResult(statistic=5.529150278304015, pvalue=1.4837910357254216e-07)

- t-test 결과 0.05보다는 작다
- 귀무가설을 기각해야 한다